@font-face {
	font-family: 'MyFont';
	src: url(../resources/fonts/long_pixel-7.ttf);
}

html{
	font-family:'MyFont';
	background-image: url(../resources/backgrounds/starfield.png);
	background-size: tiled;
}

body{
	padding-top: 100px;
}

input[type=number]{
	height: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    width: 3rem;
    text-align: center;
}

#title{
	font-size: 1.875rem;
	line-height: 4.6875rem;
	color: white
}

.center{
	display:block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 75px;
	font-size: 16px;
	margin-top: 10px;
}

p{
	text-align: center;
	font-size: 1.2rem;
	color: rgb(255, 255, 255)
}

label{
	font-size: 1.2rem;
	color: white
}

button{
	background-color: rgb(60, 134, 231);
	font-family:'MyFont';
	font-weight: 800;
	font-size: x-large;
	color: #000000;
	border: 0.15rem solid #ffffff;
	border-radius: 0.2rem;
	box-shadow: #000000 0.375rem 0.375rem 0 0;
}

button.center:active{
	font-size: 18px;
	color: #ffffff;
	width: 275px;
	height: 70px;
}

button.center:hover:not(:active){
	font-size: 22px;
	width: 315px;
	height: 80px;
	background-color: aliceblue;
}

.manlogo{
	display:block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 160px;
    padding-bottom: 20px;
}

svg:hover #light2  {
	animation: light-animation 1.3s infinite ease-in;
	animation-delay: 0.2s;
}

@keyframes light-animation {
  0% {
	translate: 0; opacity: 0;
  }
  60% {
	opacity: 1;
  }
  100% {
	translate: 40px; opacity: 0;
  }
}
